<div class="row">
  <div class="col-lg-9">
    <ol class="breadcrumb">
      <li><a href="<%= root_path %>">Home</a></li>
      <li class="active"><%= @ticket.movie_name %></li>
    </ol>
    <h1><%= @ticket.movie_name %></h1>
    <div class="row">
      <% @ticket.ticket_images.each do |ticket_image| %>
        <div class="col-xs-6 col-md-3">
          <a href="#" class="thumbnail detail">
          <%= image_tag ticket_image.image.variant(resize: "300x300") %>
          </a>
        </div>
      <% end -%>
    </div>

    <ul class="list-unstyled">
      <li>电影编号: <%= @ticket.uuid %></li>
      <li>库存: <%= @ticket.stock %></li>
      <li>上映时间: <%= @ticket.show_time %></li>
      <li>时长: <%= @ticket.duration %></li>
    </ul>
    <h3><strong>¥<%= @ticket.price %></strong></h3>
    <p>数量: <input type="text" name="stock" value="1" /></p>
    <p><%= show_add_to_order @ticket%></p>

    <br />
    <br />
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="javascript:;">电影描述</a></li>
    </ul>
    <br />
    <div>
      <%= @ticket.description.html_safe %>
    </div>
  </div>
</div>
